In [13]:
# Dependencies
import os
import csv
import pandas as pd

In [19]:
urlpath = "C:\\Users\\sebif\\Cargo_Bay\\python-challenge\\PyBank\\Resources\\"

In [21]:
# ref code original_df = pd.read_csv(urlpath+"baton_streets.csv")
bank_df =  pd.read_csv(urlpath+"budget_data.csv")

In [25]:
bank_df

      Date  Profit/Losses
0   Jan-10        1088983
1   Feb-10        -354534
2   Mar-10         276622
3   Apr-10        -728133
4   May-10         852993
..     ...            ...
81  Oct-16        -729004
82  Nov-16        -112209
83  Dec-16         516313
84  Jan-17         607208
85  Feb-17         382539

[86 rows x 2 columns]

In [33]:
# Calculate total number of months included in the dataset
total_months = len(bank_df)
total_months

86

In [39]:
# Calculate the net total amount of "Profit/Losses" over the entire period
net_total_pnl = bank_df['Profit/Losses'].sum()
net_total_pnl

22564198

In [45]:
#Calculate the changes in "Profit/Losses" over the entire period, and then the average of those changes
#Add Column change in dataframe to see the Change over the period via each observation row
bank_df['Change'] = bank_df['Profit/Losses'].diff()
#Calculating Average
average_change = bank_df['Change'].mean()
bank_df

      Date  Profit/Losses     Change
0   Jan-10        1088983        NaN
1   Feb-10        -354534 -1443517.0
2   Mar-10         276622   631156.0
3   Apr-10        -728133 -1004755.0
4   May-10         852993  1581126.0
..     ...            ...        ...
81  Oct-16        -729004 -1627245.0
82  Nov-16        -112209   616795.0
83  Dec-16         516313   628522.0
84  Jan-17         607208    90895.0
85  Feb-17         382539  -224669.0

[86 rows x 3 columns]

In [47]:
average_change

-8311.105882352942

In [53]:
#Finds greatest increase in profits (date and amount) over the entire period
#Finds max in newly created column Change
greatest_increase = bank_df['Change'].max()
greatest_increase_date = bank_df.loc[bank_df['Change'] == greatest_increase, 'Date'].iloc[0]
print(greatest_increase_date, greatest_increase)

Aug-16 1862002.0

In [55]:
#Finds greatest decrease in profits (date and amount) over the entire period
greatest_decrease = bank_df['Change'].min()
#Finds min in newly created column Change
greatest_decrease_date = bank_df.loc[bank_df['Change'] == greatest_decrease, 'Date'].iloc[0]

print(greatest_decrease_date, greatest_decrease)

Feb-14 -1825558.0

In [59]:
#Printing the Analysis to Terminal
print("Financial Analysis")
print("----------------------------")
print(f"Total Months: {total_months}")
print(f"Total: ${net_total_pnl:,.0f}")
print(f"Average Change: ${average_change:,.2f}")
print(f"Greatest Increase in Profits: {greatest_increase_date} (${greatest_increase:,.0f})")
print(f"Greatest Decrease in Profits: {greatest_decrease_date} (${greatest_decrease:,.0f})")

Financial Analysis
----------------------------
Total Months: 86
Total: $22,564,198
Average Change: $-8,311.11
Greatest Increase in Profits: Aug-16 ($1,862,002)
Greatest Decrease in Profits: Feb-14 ($-1,825,558)

In [63]:
# Save the results to a text file
output_path = os.path.join('analysis', 'financial_analysis.txt')
with open(output_path, 'w') as file:
    file.write("Financial Analysis\n")
    file.write("----------------------------\n")
    file.write(f"Total Months: {total_months}\n")
    file.write(f"Total: ${net_total_pnl:,.0f}\n")
    file.write(f"Average Change: ${average_change:,.2f}\n")
    file.write(f"Greatest Increase in Profits: {greatest_increase_date} (${greatest_increase:,.0f})\n")
    file.write(f"Greatest Decrease in Profits: {greatest_decrease_date} (${greatest_decrease:,.0f})\n")